{% include "header.html.twig" %}

{% for message in app.session.flashbag.get('SuccesRegisterUser') %}
       <script type="text/javascript"> 
        	swal('Inscription réussie');
        </script>
  {% endfor %}

{% block body %}
	{% if is_granted('ROLE_USER') %}
		<body onload="init()">
		<div id="launcher-game">
			<ul id='dropdown-type-game' class='dropdown-content'>
				<li><a id="toutes">Toutes</a></li>
				<li><a id="attente">En attente</a></li>
				<li><a id="cours">En cours</a></li>
			</ul>

			<div class="section" id="section-tab">
				<div class="container" id="container-tab">
					<div id="index-partie">
						<div class="row" id="tab-partie">
							<div class="col s12">
								<div class="col s12 m3 l3 "><a id="reload" class="waves-effect btn adjust cyan">Actualiser<i
												class="material-icons left">loop</i></a>
								</div>
								<div class="col s12 m4 l4" id="type-game">
									<a class='dropdown-button btn adjust cyan' href='#'
									   data-activates='dropdown-type-game'>Type
										de
										Partie
										<i class="material-icons left">arrow_drop_down</i>
									</a>
								</div>
								<div class="col s12 m5 l5">
									<div class="input-field">
										<i class="tiny material-icons prefix">search</i>
										<input id="icon_prefix" type="text" class="validate"
											   onkeyup="searchGame(this.value)">
										<label for="icon_prefix">Nom de la partie</label>
									</div>
								</div>

								<table class="table">
									<thead>
									<th>Partie n°</th>
									<th>Nom de la partie</th>
									<th>Jeu</th>
									<th>Status</th>
									<th>Joueur 1</th>
									<th>Joueur 2</th>
									</thead>
									<tbody id="listGame">
									</tbody>

								</table>
							</div>
							<a id="add-partie" class="btn-floating btn-large waves-effect waves-light cyan"
							   onclick="showForm()"><i
										class="material-icons">add</i></a>
						</div>

						<div class="row scale-transition scale-out" id="form-ajout">
							<div class="col s12 m12 l12">
								<div class="card-panel">
									<div class="row">
										<div class="col s12">
											<input id="form-id-personne" type="hidden" value="{{ app.user.id }}">
											<input id="form-nom-personne" type="hidden" value="{{ app.user.username }}">
											<h4 class="header2 center">Ajouter une partie</h4>
											<div class="row">
												<div class="input-field col s12 m4 l4">
													<input id="form-name" type="text"
														   placeholder="Partie de {{ app.user.username }}"
														   class="validate">
													<label for="form-name">Nom de la partie</label>
												</div>
												<div class="input-field col s12 m4 l4">
													<select id="form-jeu">
														<option value="tictactoo" selected>Tictactoo</option>
													</select>
													<label for="form-jeu">Choisir le jeu</label>
												</div>
												<div class="input-field col s12 m4 l4">
														<button class="cyan waves-effect waves-light btn"
																id="form-add-game" name="action"><i
																	class="mdi-action-lock-open"></i>
															C'est parti ! <i class="material-icons left">play_arrow</i>
														</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="game"></div>

		{#Importation de NodeJS#}
		<script type="text/javascript" src="{{ asset('../node_modules/socket.io-client/dist/socket.io.js') }}"></script>

		{#Importation des différents js pour les fonctionnalités#}
		<script type="text/javascript" src="{{ asset('bundles/tttfirst/js/index.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/tttfirst/js/tic_tac_toe.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/tttfirst/js/socketClient.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/tttfirst/aos-master/dist/aos.js') }}"></script>

		</body>
	{% else %}
		<div class="container">
			<div id="welcome" class="row valign-wrapper">
				<div class="col s12 z-depth-4 card-panel">
					<div class="row">
						<div class="input-field col s12 center">
							<h2 class="header2">Bienvenue</h2>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s5">
							<a href="{{ path('fos_user_security_login') }}"
							   class="waves-effect waves-light btn-large cyan col s12"> Se connecter </a>
						</div>
						<div class="input col s2"><h4 class="col s12 center-align">OU</h4></div>

						<div class="input-field col s5"><a href="{{ path('fos_user_registration_register') }}"
														   class="waves-effect waves-light btn-large cyan col s12">
								S'inscrire </a></div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
