{% include "header.html.twig" %}

{% if NbParties == 0 %}
    <div class="container">
    <div class="card-panel row">
        <div class="col s12"><h5 class="header2 center-align">Vous n'avez joué aucune partie !</h5></div>
    </div>
    </div>
{% else %}
<div class="container">
    <div class="card-panel row">
        <div class="col s12"><h2 class="header2 center-align">Mes Statistiques</h2></div>
         <div class="col s12 m6 l6 center-align" id="donutchart" style="width: 450px; height: 250px;"></div>
         <div class="col s12 m6 l6 center-align" id="PointsTotalChart" style="width: 450px; height: 250px;"></div>
    </div>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{#Importation de matérialize#}
<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/sweetalert.min.js') }}"></script>

{#Importation de NodeJS#}
<script type="text/javascript" src="{{ asset('../node_modules/socket.io-client/dist/socket.io.js') }}"></script>

{#Affichage des statistiques #}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script  type="text/javascript">
      stats = {
        victoires: {{ Stat.nb_victoires|json_encode() }},
        defaites: {{ Stat.nb_defaites|json_encode() }},
        egalites: {{ Stat.nb_egalites|json_encode() }}
    };  
     points = {{ PointsTotal|json_encode() }};
     nbParties = {{ NbParties|json_encode()}};
</script>
<script type="text/javascript" src="{{ asset('bundles/tttfirst/js/stats.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/tttfirst/js/stats2.js') }}"></script>
{% endif %}
</body>
</html>

