<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
	      href="{{ asset('bundles/tttfirst/materialize/css/materialize.min.css') }}"
	      media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/materialize/css/sweetalert.css') }}"
											   media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/css/tic_tac_toe.css') }}"
	      media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/css/listGame.css') }}"
		  media="screen,projection"/>
	{% if not is_granted('ROLE_USER') %}
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/css/accueil.css') }}"
			  media="screen,projection"/>
	{% endif %}
	<!--Let browser know website is optimized for mobile-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/sweetalert.min.js') }}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

{% if is_granted('ROLE_USER') %}

<nav>
	<div class="nav-wrapper light-blue darken-3">

		<a href="#" data-activates="mobile-menu" class="button-collapse">
			<i class="material-icons">menu</i>
		</a>
		<ul class="left hide-on-med-and-down">
			<li><a href="{{ path('ttt_first_homepage') }}">Accueil</a></li>
			<li><a href="{{ path('ttt_first_statistique') }}">Statistiques</a></li>
		</ul>
		<ul class="right hide-on-med-and-down">
			<li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
			<li><a href="{{ path('fos_user_profile_edit') }}">Modifier Profil </a></li>
			<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
		</ul>

		<ul class="side-nav" id="mobile-menu">
			<li><a href="{{ path('ttt_first_homepage') }}">Accueil</a></li>
			<li><a href="{{ path('ttt_first_statistique') }}">Statistiques</a></li>
			<li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
			<li><a href="{{ path('fos_user_profile_edit') }}">Modifier Profil </a></li>
			<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
		</ul>
	</div>
</nav>
{% endif %}
