<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		  href="{{ asset('bundles/tttfirst/materialize/css/materialize.min.css') }}"
		  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/materialize/css/sweetalert.css') }}"
		  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/css/tic_tac_toe.css') }}"
		  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/css/listGame.css') }}"
		  media="screen,projection"/>
	{% if not is_granted('ROLE_USER') %}
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/tttfirst/css/accueil.css') }}"
			  media="screen,projection"/>
	{% endif %}
	<!--Let browser know website is optimized for mobile-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/sweetalert.min.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

{% if is_granted('ROLE_USER') %}

	<nav>
		<div class="nav-wrapper blue-grey lighten-2">

			<a href="#" data-activates="mobile-menu" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
			<a href="{{ path('ttt_first_homepage') }}" class="brand-logo center"><img class="responsive-img" src="{{ asset('img/logo.png') }}"></a>
			<ul class="left hide-on-med-and-down">
				<li><a href="{{ path('ttt_first_homepage') }}" ><i class="left material-icons">home</i>Accueil</a></li>
				<li><a href="{{ path('ttt_first_statistique') }}"><i class="left material-icons">trending_up</i>Statistiques</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
                {% if app.user != NULL  %}
					<li id='app_username'>{{ app.user.username }}</li>
					<li><a href="{{ path('fos_user_profile_show') }}"><i class="left material-icons">person</i>Profil</a></li>
					<li><a href="{{ path('fos_user_profile_edit') }}"><i class="left material-icons">settings</i>Modifier Profil </a></li>
					<li><a href="{{ path('fos_user_security_logout') }}"><i class="left material-icons">power_settings_new</i>Logout</a></li>
                {% else %}
					<li><a href="{{ path('fos_user_registration_register') }}"><i class="left material-icons">create</i>Register</a></li>
					<li><a href="{{ path('fos_user_security_login') }}"><i class="left material-icons">input</i>Login</a></li>
                {% endif %}
			</ul>

			<ul class="side-nav" id="mobile-menu">
                {% if app.user != NULL  %}
					<li id='app_username' class="blue-grey lighten-2" >Bienvenue {{ app.user.username }}</li>
					<li><a href="{{ path('ttt_first_homepage') }}"><i class="left material-icons">home</i>Accueil</a></li>
					<li><a href="{{ path('ttt_first_statistique') }}"><i class="left material-icons">trending_up</i>Statistiques</a></li>
					<li><a href="{{ path('fos_user_profile_show') }}"><i class="left material-icons">person</i>Profil</a></li>
					<li><a href="{{ path('fos_user_profile_edit') }}"><i class="left material-icons">settings</i>Modifier Profil </a></li>
					<li><a href="{{ path('fos_user_security_logout') }}"><i class="left material-icons">power_settings_new</i>Logout</a></li>
                {% else %}
					<li id='app_username' class="blue-grey lighten-2" >Bienvenue</li>
					<li><a href="{{ path('ttt_first_homepage') }}"><i class="left material-icons">home</i>Accueil</a></li>
					<li><a href="{{ path('ttt_first_statistique') }}"><i class="left material-icons">trending_up</i>Statistiques</a></li>
					<li><a href="{{ path('fos_user_registration_register') }}"><i class="left material-icons">create</i>Register</a></li>
					<li><a href="{{ path('fos_user_security_login') }}"><i class="left material-icons">input</i>Login</a></li>
                {% endif %}
			</ul>
		</div>
	</nav>

	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".button-collapse").sideNav();
		});

	</script>

{% endif %}
